/*Universal*/
body {
  font-family: "helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  flex-direction: row;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
  height: 69px;
  width: 100%;
  color: seashell;
  align-content: flex-start;margin-top: 0;
}

nav a {
  display: inline-block;
  padding: 20px 10px;
  color: seashell;
  padding-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

/*Mission Section*/
.mission-image {
  display: flex;
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  align-items: center;
  margin: auto;
}

.mission {
  display: flex;
  background-color: black;
  flex-direction: column;
  width: 1200px;
  height: auto;
  align-content: center;
}

.mission
